@import "./components/DatePicker/react-dates.css";
@import "./components/DatePicker/custom.css";
@import "./components/TimePicker/rc-time-picker.css";
@import "./components/TimePicker/custom.css";

body {
  background-color: #f7f9fa;
  height: 100%;
}

/** Checkbox style */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #FFF;
  border-radius: 2px;
}

.container {
  display: block;
  position: relative;
  padding-left: 1rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  margin-bottom: .75rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  margin-right: 1rem;
}

.container:hover input ~ .checkmark {
  background-color: #e3e4e6;
}

.container input:checked ~ .checkmark {
  background-color: #368df7;
  border: solid #368df7 2px;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 3px;
  top: -1px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Spinner style */
.spinner {
  animation: rotator 1.4s linear infinite;
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

.spinner__path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash 1.4s ease-in-out infinite;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 47.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}
